*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #9999991f;
  }
  h2{
    padding: 1vh 0 1vh 25vw; 
    font-size: 3vw;
  }
  form{
    width: 60%;
    margin: 10vh auto;
    font-size: 2vw;
    padding: 4vh 8vw;
    background-color: white;
    box-shadow:  1px 1px 7px 7px #9793931f;
    border-radius: 5px;
  }
  input{
    width: 25vw;
    height: 6vh;
  }
  #email{
    margin-left: 8vw;
  }
  #name{
    margin-left: 3vw;
  }
  #log{
    width: 15vw;
    background-color: rgba(0, 0, 255, 0.342);
  }
  #log:hover{
    cursor: pointer;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.192);
  }