*{
    margin: 0;
    padding: 0;
  }
  #header{
    width: 94%;
    margin: auto;
    height: 8vh;
    font-size: 4vw;
    background-color: #333;
    color: white;
    padding: 1vh 0 3vh 0;
    text-align: center;
  }
  #timer{
    width: 35%;
    padding: 4vh;
    margin: 2vh 0 0 60%;
    font-size: 3vw;
    background-color: white;
    color: black;
    padding: 1vh 0 3vh 0;
    text-align: center;
    border: 2px solid thistle;
  }
  body{
    background-color: #9999991f;
  }
  #text{
    width: 85%;
    margin: 1vh auto;
    background: white;
    padding: 2vh 0 2vh 4vw;
    border-radius: 10px;
    box-shadow:  1px 1px 7px 7px #9793931f;
  }
  #text p{
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 3vh;
  }
  #text label{
    margin-left: 2vw;
    font-size: 2vw;
  }
  #send{
    margin: 4vh 0 1vh 0;
    width: 10vw;
    height: 6vh;
    font-size: 2vw;
    background-color: rgb(255, 174, 0);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
  }
  #send:hover{
    border: 2px solid yellow;
    background-color: rgba(255, 255, 0, 0.753);
  }
  #fin{
    height: 13vh;
    width: 80%;
    border: 2px solid white;
    margin-left: 5vw;
    font-size: 5vw;
    border-radius: 10px;
    background-color: rgba(93, 243, 34, 0.726);
    color: white;
    padding: 2vh 0 0 5vw;
  }
  input{
    cursor: pointer;
  }
  #feed{
    margin-top: 2vh;
    width: 28%;
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
  }
  #next{
    background-color: rgb(138, 221, 13);
    color: white;
    width: 20vw;
    height: 8vh;
    font-size: 2vw;
    cursor: pointer;
    margin: 2vh 0 1vh 0;
    border: 2px solid green;
    border-radius: 10px;
  }
  #next:hover{
    background-color: rgba(172, 255, 47, 0.781);
  }
  .fintext{
    width: 85%;
    margin: 6vh auto;
    background: white;
    padding: 3vh 0 2vh 4vw;
    border-radius: 10px;
    font-size: 3vw;
  }
  a{
    width: 15vw;
    padding: 3vh;
    background-color: orange;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 2vw;
  }